<section id="sidebar" class="hidden xl:inline-grid md:col-span-1">
    <div class="fixed w-full p-3">
        <div class="text-white">
            <a href="/trending">
                <div class="absolute items-center justify-between mt-10">
                    <img src="../static/images/hashtag.svg" alt="Popular" width="60">
                </div>
                <h3 class="absolute text-3xl top-14 left-20 font-raleway font-semibold">Popular</h3>
            </a>
        </div>

        <div class="text-white absolute top-32">
            <h4 class="text-2xl mb-2">Hashtags</h4>
            {% if hashtags %}
            {% for hashtag in hashtags[:5] %}
            <a href="https://example.com/{{hashtag}}" class="text-slate-200 hover:text-slate-300 text-md mt-4">{{
                hashtag
                }}</a>
            {% endfor %}
            {% endif %}

            <h4 class="text-2xl mb-2 mt-3">Posts</h4>
            <div class="max-h-60 overflow-y-auto scroll">
                {% if trending_posts %}
                {% for post in trending_posts %}
                <div class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 mb-4 rounded-md p-3 w-full">
                    <a href="/a/{{post['$id']}}" class="text-black text-md mt-4">{{ post['description'][0:20] }}</a>
                </div>
                {% endfor %}
                {% endif %} 
            </div>
        </div>
    </div>
</section>